<p>Sikkim offers some of the finest trekking experience in the Himalaya. The state’s vast unspoiled mountain ranges are a trekker’s delight and its amazing range of flora and fauna a naturalist’s dream. The trek to Dzongri passes through forests of silver fir, hemlock, magnolia and rhododendron with views of the Kangchendzonga peaks in the background. This most popular trek in Sikkim is famed for its great mountain views, a floral spectacle in summer, birds and views of pristine forest. The entire trekking trail is inside the Khangcherndzonga National Park (KNP) which is a part of Khanchandzonga Biosphere Reserve situated in North and West districts of Sikkim. The KNP has the worlds’ third highest peak, The Mount Khangchendzonga. There are many lakes where a trekker traverses and all are considered holy by the local people. The best time to visit Dzongri for treks is from April June and from September to December.</p>
<h2>Attractions</h2>
<strong>USP</strong>
Goechala offers one a unique experience of standing in the lap of great Himalayas. The fascinating wall of massive cluster of peaks of Khangchendzonga leaves you breathless.
<strong>Visit Timings</strong>
March – June and Sept - Dec
<h2>Accomodation</h2>
Yuksam is the corridor to the Khangchendzonga National Park and all treks to Dzongri and Khangchendzonga Basecamp starts from here. The route traverses through forests and alpine meadows, to reach the 4941 Meters high view point, at Goechala. Well marked trails and designated camp sites are maintained by the Tourism and Forest Department.
Entry Criteria
Special permits required for all visitors. For Foreign nationals a minimum group of two persons is required. Organized treks only permitted.
Observe
• Maintain physical fitness before the trek & be aware of altitude sickness.
• Avoid exerting yourself in high altitude areas as you might catch altitude sickness.
• Wear comfortable clothing and shoes.
• Carry minimum and essential items.
• Drink plenty of fluids.
• Dress in layers as the temperature changes quickly in the mountains.
• Take nothing but pictures, leave nothing but footprints.
• Avoid littering trails and campsites.
• No removal of plants or objects found along the way.
• Maintain outdoor ethics, no trampling of fragile alpine vegetation.
