<h2>About</h2>
<p>Paragliding is one more addition to its endless list of adventure and excitement which Sikkim offers. A trip will take you over some of the best scenery in Sikkim, as you share airspace with Himalayan eagles and float over villages, monasteries, temples and jungle, with a fantastic view of the majestic Himalaya.</p>
