<h2>About</h2>
<p>White Water Rafting is an adventure hill sport, which is relatively new in Sikkim. River Teesta and its tributary Rangeet offer a series of rapids with varying intensity, and character. Of the two rivers, the former has a series of rapids with varying intensity and character while the latter has more turbulent waters which would be a treat to experienced rafters. The river banks of both the rivers have deep forests, with some patches of terraced cultivation, and small villages. Innumerable white sandy beaches offer good campsites.</p>
