<p>Tosar Lake is located at an altitude of 13000 ft in between the Mangan Ridge and the Chola Range. To the south east of the lake, is a giant cliff or mountain overlooking the Lake. It is considered sacred and worshiped by the local people. Some of the best views of the Khangchendzonga East face is seen from this region. This trek begins from the road head at Naksuk, Naga Reserved Forest above Naga village which is about an hour drive from Mangan. It follows the old traditional yak and cow trails in the Reserve forest. It passes through soggy temperate forest of broad leaved species and bamboos. This trek is especially popular for its mountain views, floral spectacle in summer, beautiful birds and views of pristine forest.Tosar Lake is located at the junction of the Mangan and Chola range. The maximum height of the ridge is about 4340 m at Maram Chu. The other important peaks of the Mangan ridge are Phyakchung (3740 m), Anden peak (3700 m) and Pandot peak (2375 m). The important spur is the Phodong spur running southwards from the main ridge. The southern face of the Mangan ridge is very steep whereas the north facing slope is gentler. The trek passes through the northern slope of the Mangan Ridge.

 Important features along the trail
• Water bodies - 2 perennial streams and 4 seasonal spring water
• View points/ Mountain views – Dzongu, Khangchendzonga mountain ranges and Teesta river
• Forest / vegetation Types – Maple, Chimal, Bamboo Groves, Temperate forest to Alpine vegetation as you ascend
• Animals / Birds – Butterfly, and other smaller birds
• Medicinal Plants / Flowers
• Signage Along the trail – At diversion on Naga Gumpa and North Sikkim highway, Naga Gumpa (Trekking Take off Point), at Bojo Tar, Below Sohar Dhe.</p>

<h2>Attractions</h2>
<strong>USP</strong>
This trek is especially popular for its mountain views, floral spectacle in summer, beautiful birds and pristine forest.
<strong>Visit Timings</strong>
March – June and Sept - Nov.
<h2>Accomodation</h2>
<strong>Accessibility</strong>
The trek starts from Naga Villge below Sohar Dhe which is approximately 20 km from Mangan and ends in Ringim Village above Mangan. The trek is very challenging as the terrain is rugged and steep. STDC (Sikkim Tourism Development Corporation) and Local Travel Agents arrange the tours for both domestic and international tourists.
<strong>Entry Criteria </strong>
Special permits required for all visitors. For Foreign nationals a minimum group of two persons is required. Organized treks only.
<strong>Observe</strong>
• Maintain physical fitness before the trek.
• Avoid exerting yourself in high altitude areas as you might catch altitude sickness.
• Wear comfortable clothing and shoes.
• Carry minimum and essential items.
• Drink plenty of fluids.
• Dress in layers as the temperature changes quickly in the mountains.
• Take nothing but pictures, leave nothing bu footprints.
• Stay aware of any symptoms of altitude sickness.
• Maintain the serenity and tranquility of the lake.
• Avoid littering the campsites.
• No removal of plants or objects found along the way.
• Maintain outdoor ethics, no trampling of fragile alpine vegetation.
• Avoid making loud noise, drinking.
